# Ignore target directory (compiled files and build artifacts)
target/

# Ignore Maven wrapper files
.mvn/
**/mvnw
**/mvnw.cmd

# Ignore Gradle wrapper files
.gradle/
**/gradlew
**/gradlew.bat
build/

# Ignore IDE-specific files
.idea/
*.iml
*.ipr
*.iws

# Eclipse IDE specific
.classpath
.project
.settings/

# VS Code IDE specific
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Sensitive configuration files
application.properties
application.yml
.env

# Ignore test reports
test-output/
surefire-reports/

